.skills {
  margin-bottom: 72px;
}

.skills__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
}

.skills__icon {
  margin-left: 8px;
}

.skills__list {
  list-style: disc;
  padding-left: 20px;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px 32px;
}

@media (max-width: 768px) {
  .skills__list {
    grid-template-columns: 1fr;
  }
}
