.footer {
  padding: 80px 0;
  text-align: left;
}

.footer__email {
  display: inline-block;
  margin: 12px 0;
  font-weight: 600;
}

.footer__socials {
  margin-top: 24px;
  display: flex;
  justify-content: left;
  gap: 20px;
}

.footer__socials a {
  font-size: 24px;
  color: var(--primary);
  transition: transform 0.2s ease;
}

.footer__socials a:hover {
  transform: scale(1.2);
}
