*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #1c1c1c;
  color: #ffffff;
}

.dark body {
  background: #1c1c1c;
  color: #ffffff;
}

section {
  margin-bottom: 72px;
}
